body {
    font-family: '배달의민족 도현';
}

/* 비밀번호 입력시 보이지 않아서 -> 폼 입력시에만 폰트 변경 */
.form-control {
    font-family: '나눔고딕';
}

.carousel-inner > .carousel-item {
    height: 50%;
    background-color: black;
}
.carousel-inner .carousel-item img {
    position:relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 1000px;
}